.characteristics__video {
    position: relative;
}

@media (width > 576px) {
    .characteristics__video {
        margin-bottom: 60px;
    }
}

@media (width <= 576px) {
    .characteristics__video {
        margin-bottom: 40px;
    }
}

.characteristics__video-preview {
    border: 1px solid var(--main-color);
    border-radius: 12px;
}

.characteristics__video-play-link {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--overlay-color);
    border-radius: 50%;
    border: 1px solid var(--main-color);
    box-shadow: var(--shadow-glow),
        inset var(--shadow-glow);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color var(--transition-time), box-shadow var(--transition-time);
}

@media (any-hover: hover) {
    .characteristics__video-play-link:hover {
        border-color: var(--accent-color);
        box-shadow: var(--accent-glow-color),
            inset var(--accent-glow-color);
    }
}

@media (width > 576px) {
    .characteristics__video-play-link {
        width: 80px;
        height: 80px;
    }

    .characteristics__video-play-icon {
        width: 30px;
        height: 24px;
        transform: translateX(2px);
    }
}

@media (width <= 576px) {
    .characteristics__video-play-link {
        width: 48px;
        height: 48px;
    }

    .characteristics__video-play-icon {
        width: 18px;
        height: 14px;
        transform: translateX(1px);
    }
}

.characteristics__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
    gap: 40px 20px;
}

.characteristics__cart-icon {
    margin-bottom: 4px;
    transform: translateX(-8px);
}

@media (width > 576px) {
    .characteristics__cart-icon {
        width: 56px;
        height: 56px;
    }
}

@media (width <= 576px) {
    .characteristics__cart-icon {
        width: 48px;
        height: 48px;
    }
}

.characteristics__cart-title {
    margin-bottom: 20px;
}

.characteristics__cart-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    color: var(--main-color);
}