.page {
    font-family: var(--font-family);
    font-weight:400;
    color: var(--main-color);
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

.page__body {
    min-width: 375px;
    background: var(--bg-color);
}

.container {
    width: min(var(--container-width), 100% - var(--container-padding) * 2);
    margin-inline: auto;
}

a:focus-visible, 
button:focus-visible {
    outline: 1px solid var(--accent-color);
    outline-offset: 2px;
}

.title {
    font-weight: 600;
    font-size: clamp(2rem, 1.241rem + 3.24vw, 3.75rem);
    text-transform: uppercase;
    color: var(--main-color);
}

@media (width > 576px) {
    .section {
        padding-bottom: 140px;
    }

    .section__title {
        margin-bottom: 40px;
    }
}

@media (width <= 576px) {
    .section {
        padding-bottom: 80px;
    }

    .section__title {
        margin-bottom: 30px;
    }
}

.size-md {
    font-weight: 600;
    font-size: clamp(1.5rem, 1.283rem + 0.92vw, 2rem);
    text-transform: uppercase;
    color: var(--main-color);
}

