.page {
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--main-color);
    scroll-behavior: smooth;
}

.page__body {
    min-width: 375px;
    background: var(--bg-color);
}

.container {
    width: min(var(--container-width), 100% - var(--container-padding) * 2);
    margin-inline: auto;
}

a:focus-visible,
button:focus-visible {
    outline: 1px solid var(--main-color);
    outline-offset: 2px;
}

.title {
    font-family: var(--second-family);
    font-weight: 900;
    font-size: clamp(1.625rem, 1.137rem + 2.08vw, 2.75rem);
    text-align: center;
    margin-bottom: 55px;
}

@media (width > 576px) {
    .title {
        margin-bottom: 55px;
    }
}


@media (width <=576px) {
    .title {
        margin-bottom: 32px;
    }
}

.products {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

@media (width > 768px) {
    .products {
        gap: 20px;
    }
}

@media (width <=768px) {
    .products {
        gap: 10px;
    }
}

@media (width > 768px) {
    .product-img {
        border-radius: 20px;
        width: 295px;
        height: 298px;
        margin-bottom: 16px;
    }
}

@media (width <=768px) {
    .product-img {
        border-radius: 13px;
        width: 165px;
        height: 180px;
        margin-bottom: 12px;
    }
}

@media (width > 768px) {
    .product-name {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 8px;
    }
}

@media (width <=768px) {
    .product-name {
        font-weight: 700;
        font-size: 15px;
        margin-bottom: 5px;
        max-width: 165px;
    }
}

@media (width > 768px) {
    .rating {
        margin-bottom: 8px;
    }
}

@media (width <=768px) {
    .rating {
        margin-bottom: 5px;
    }
}

.price {
    display: flex;
    align-items: center;
}

@media (width > 768px) {
    .price {
        gap: 10px;
    }
}

@media (width <=768px) {
    .price {
        gap: 5px;
    }
}

@media (width > 768px) {
    .now-price {
        font-weight: 700;
        font-size: 24px;
    }
}

@media (width <=768px) {
    .now-price {
        font-weight: 700;
        font-size: 18px;
    }
}

.old-price {
    font-weight: 700;
    font-size: 24px;
    text-decoration: 2px line-through rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.4);
}

@media (width > 768px) {
    .old-price {
        font-size: 24px;
        text-decoration: 2px line-through rgba(0, 0, 0, 0.3);
    }
}

@media (width <=768px) {
    .old-price {
        font-size: 18px;
        text-decoration: 1px line-through rgba(0, 0, 0, 0.3);
    }
}

.sale {
    border-radius: 62px;
    background: rgba(255, 51, 51, 0.1);
    font-weight: 500;
    color: #f33;
}

@media (width > 768px) {
    .sale {
        padding: 6px 14px;
        width: 58px;
        height: 28px;
        font-size: 12px;
    }
}

@media (width <=768px) {
    .sale {
        padding: 4px 5px;
        width: 36px;
        height: 20px;
        font-size: 10px;
    }
}

.all {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
}

@media (width > 576px) {
    .all {
        margin-top: 36px;
    }
}

@media (width <=576px) {
    .all {
        margin-top: 27px;
    }
}

.link-all {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 62px;
    height: 52px;
    font-size: 500;
    color: #000;
    transition: background-color var(--transition-time);
}

@media (any-hover: hover) {
    .link-all:hover {
        background-color: #e9e9e9;
    }
}

@media (width > 576px) {
    .link-all {
        width: 218px;
    }
}

@media (width <=576px) {
    .link-all {
        width: 100%;
        font-size: 14px;
    }
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: rgba(0, 0, 0, 0.6);
}