:root { 
    --font-family: "Satoshi", sans-serif;
    --second-family: "Integral CF", sans-serif;

    --main-color: #000000;
    --accent-color: #ff000000;
    --bg-color: #ffffff;
    --shadow-color: #525252;

    --hover-opacity: 0.4;

    --container-width: 1240px;
	--container-padding: 15px;

    --transition-time: 0.3s;

    --layer-negative-1: -1;
	--layer-1: 1;
	--layer-2: 2;
    --layer-3: 3;
}