@media (width > 768px) {
    .header__burger {
        display: none;
    }
}

@media (width <=768px) {
    .header__burger {
        width: 24px;
        height: 24px;
    }
}

.header__burger-icon,
.burger--open .header__burger-cross {
    display: block;
}

.header__burger-cross,
.burger--open .header__burger-icon {
    display: none;
}

.header__burger {
    z-index: var(--layer-3);
}