.leader__container {
    padding: 64px 0 80px;
}

@media (width > 576px) {
    .leader__container {
        padding: 64px 0 80px;
    }
}

@media (width <=576px) {
    .leader__container {
        padding: 42px 0 50px;
    }
}

.leader__link {
    color: #000;
}