.news-products__container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media (width > 576px) {
    .news-products__container {
        padding: 72px 0 64px;
    }
}

@media (width <= 576px) {
    .news-products__container {
        padding: 52px 0 40px;
    }
}

.news-products__link {
    color: #000;
}