body {
    background: rgb(24, 30, 52);
    font-family: "Montserrat", "Arial", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 150%;
}

header {
    padding-top: 30px;
    padding-bottom: 35px;
}

nav {
    max-width: 930px;
    padding: 0 15px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.menu_button {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menus {
    display: flex;
    justify-content: space-between;
    width: 300px;
    font-weight: 400;
}

.button1 {
    height: 50px;
    width: 120px;
    border-radius: 100px;
    color: rgb(39, 102, 174);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.section1 {
    background: url(/img/bg1.jpg) 0 0 / cover no-repeat;
    height: 550px;
}

h1 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-top: 120px;
    line-height: 50px;
}

.block {
    padding-top: 70px;
    display: flex;
    max-width: 930px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    margin: auto;
}

.text {
    width: 450px;
    height: 160px;
}

.text p {
    padding-bottom: 15px;
}

.text a {
    color: rgb(1, 162, 203);
    font-weight: 700;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 18px;
}

.tap1 {
    border-radius: 100px;
    background: linear-gradient(180.00deg, rgb(0, 164, 204), rgb(39, 102, 174) 100%);
    width: 320px;
    height: 55px;
    font-size: 16px;
    font-weight: 500;
}

.tap2 {
    border-radius: 100px;
    background: linear-gradient(129.14deg, rgb(0, 164, 204) 5.913%, rgb(39, 102, 174) 91.534%);
    width: 320px;
    height: 55px;
    font-size: 16px;
    font-weight: 500;
}

.section2 {
    max-width: 930px;
    padding: 0 15px;
    margin: auto;
    padding-bottom: 120px;
}

.info {
    width: 510px;
    margin: auto;
}

.info p {
    text-align: center;
    padding-top: 15px;
}

.cards_button {
    padding-top: 80px;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    width: 200px;
    height: 140px;
    box-sizing: border-box;
    border: 2px solid rgb(23, 107, 174);
    border-radius: 16px;
    box-shadow: 4px 4px 13px 0px rgba(5, 13, 41, 0.76);
    background: rgb(25, 124, 184);
    text-align: center;
}

.box_card {
    padding: 28px;
}

.card h2 {
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    padding-bottom: 10px;
}

.button_bottom {
    padding-top: 30px;
    text-align: center;
}

.button2 {
    border-radius: 100px;
    background: linear-gradient(180.00deg, rgb(0, 164, 204), rgb(39, 102, 174) 100%);
    width: 435px;
    height: 55px;
    margin: auto;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

hr {
    box-sizing: border-box;
    border-top: 1px solid rgb(50, 57, 82);
    background: rgb(24, 30, 52);
}

.section3 {
    max-width: 930px;
    padding: 0 15px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
}

.post1 {
    width: 265px;
    height: 160px;
}

.post1 p {
    padding-top: 15px;
}

.post2 {
    width: 115px;
    height: 241px;
}

.post2 li {
    padding-top: 10px;
}

.post2 h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
}


.post3 {
    width: 115px;
    height: 173px;
}

.post3 li {
    padding-top: 10px;
}

.post3 h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
}