.style__container {
    background: #f0f0f0;
}

@media (width > 576px) {
    .style__container {
        border-radius: 40px;
        padding: 70px 64px 76px;
    }
}

@media (width <=576px) {
    .style__container {
        border-radius: 20px;
        padding: 40px 24px 27px;
    }
}

.style__title {
    font-weight: 900;
    font-size: clamp(1.625rem, 1.137rem + 2.08vw, 2.75rem);
    text-align: center;
}

@media (width > 576px) {
    .style__title {
        margin-bottom: 64px;
    }
}

@media (width <=576px) {
    .style__title {
        margin-bottom: 28px;
        line-height: 120%;
    }
}

@media (width > 992px) {
    .style__inner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 20px;
    }
}

@media (width <=992px) {
    .style__inner {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        gap: 16px;
    }
}

@media (width > 992px) {
    .item1 {
        grid-column: span 2;
    }

    .item2 {
        grid-column: span 3;
    }

    .item3 {
        grid-column: span 3;
    }

    .item4 {
        grid-column: span 2;
    }
}

@media (width <=992px) {
    .item1 {
        grid-column: span 1;
    }

    .item2 {
        grid-column: span 1;
    }

    .item3 {
        grid-column: span 1;
    }

    .item4 {
        grid-column: span 1;
    }
}

.style__link {
    display: block;
    color: #000;
}


.style__cart {
    border-radius: 20px;
    transition: filter var(--transition-time), transform var(--transition-time), box-shadow var(--transition-time);
}

@media (any-hover: hover) {
    .style__cart:hover {
        transform: scale(1.05);
        box-shadow: 2px 2px 5px rgba(109, 109, 109, 0.5);
    }
}

@media (width > 576px) {
    .style__cart {
        height: 289px;
        padding: 25px 36px;
    }
}

@media (width <=576px) {
    .style__cart {
        height: 190px;
        padding: 16px 24px;
    }
}

.style__cart-free {
    background-repeat: no-repeat;
    background-position: right;
    background-color: #fff;
}

.style__cart-formal {
    background-repeat: no-repeat;
    background-position: right;
    background-color: #fff;
}

.style__cart-evening {
    background-repeat: no-repeat;
    background-position: right;
    background-color: #fff;
}

.style__cart-sport {
    background-repeat: no-repeat;
    background-position: right;
    background-color: #fff;
}

@media (width > 576px) {
    .style__cart-free {
        background-image: url(../../img/style-1.webp);
    }

    .style__cart-formal {
        background-image: url(../../img/style-2.webp);
    }

    .style__cart-evening {
        background-image: url(../../img/style-3.webp);
    }

    .style__cart-sport {
        background-image: url(../../img/style-4.webp);
    }
}

@media (width <=576px) {
    .style__cart-free {
        background-image: url(../../img/style-1.1.webp);
    }

    .style__cart-formal {
        background-image: url(../../img/style-2.2.webp);
    }

    .style__cart-evening {
        background-image: url(../../img/style-3.3.webp);
    }

    .style__cart-sport {
        background-image: url(../../img/style-4.4.webp);
    }
}

.style__text {
    font-weight: 700;
}

@media (width > 576px) {
    .style__text {
        font-size: 36px;
    }
}

@media (width <=576px) {
    .style__text {
        font-size: 24px;
    }
}