.article-title {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
    margin-bottom: 40px;
    max-width: 596px;
}

.size_article-title {
    font-size: 48px;
}

.article-text {
    margin-bottom: 20px;
}

.width_article-text {
    max-width: 744px;
}

.img-fitnes {
    width: 100%;
    margin-top: 60px;
}

.article-list {
    padding-left: 14px;
    margin: 0;
}

.article-list-item {
    margin-bottom: 12px;
}

.margin_article-list-item {
    margin: 0;
}

.article-video {
    margin-bottom: 40px;
    width: 100%;
}



